.main-icon {
    margin: auto 24px;
}

.post-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-items: center;
    gap: 3rem;
}

.blog-content {
    max-width: 70vw;
}

.blog-cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card {
    margin: 0 auto;
}

.form-login {
    width: 320px;
    margin: 0 auto;
    border: 2px solid hsl(171, 100%, 41%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.form-update {
    max-width: 720px;
    margin: 0 auto;
    border: 2px solid hsl(171, 100%, 41%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}


.align-vertical {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}


.form-logo {
    width: 100px;
}

.user-pic-grid {
    display: grid;
    grid-template-columns: 96px 1fr;
}

@media (max-width: 720px) {
    .main-icon {
        margin: 0px auto;
    }
    .navbar-burger {
        margin: 0px;
    }
    .is-size-1 {
        font-size: 2.5rem !important;
    }
}