{% load static %}
{% block content %}
<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{ post.image.url }}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <h4 class="title is-4 is-capitalized"> {{ post.title }} </h4>
        <p class="is-size-7 mb-4">{{ post.created_on }}</p>
        <div class="media">
            <p class="subtitle is-6 has-text-info">@{{ post.author }}</p>
        </div>

        <div class="content">
            {{ post.content|slice:":200" }}
            <br>
        </div>
        <a href="{% url 'blog:post_detail' post.slug  %}" class="button is-primary has-text-weight-bold">Leer más</a>
    </div>
</div>
{%endblock%}