{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1">
                La ruta del taco
            </h1>
            <h2 class="subtitle">
                Explora más de 200 artículos sobre las mejores taquerías de la ciudad.
            </h2>
        </div>
    </div>
</section>

<div class="container mt-6">
    <div class="post-grid">

        {% for post in post_list %}
        <div class="child" width=300>
            {% include "post_card.html" %}
        </div>

        {% empty %}
        <h2 class="title">No hay posts aún publicados</h2>
        {% endfor %}
    </div>
</div>


{%endblock%}