{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <img src="{% static 'img/taco_icon.png' %}" class="main-icon" width="70" height="70">

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">

        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'blog:home' %}">
                Blog
            </a>
        </div>

        <div class="navbar-end">
            <a href="{% url 'users:update' %}">
                <figure class="image is-48x48 mt-3 mr-6">
                    {% if request.user.profile.picture %}
                    <img src="{{ request.user.profile.picture.url }}" class="is-rounded" />
                    {% else %}
                    <img src="{% static 'img/default-profile.png' %}" class="is-rounded" />
                    {% endif %}
                </figure>
            </a>

            <a href="{% url 'users:logout' %}" class="navbar-item">
                <i class="las la-power-off la-2x"></i>
                <p class="ml-2">salir</p>
            </a>
        </div>
    </div>
</nav>