{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <img src="{% static 'img/taco_icon.png' %}" class="main-icon" width="70" height="70">

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">
                Blog
            </a>

            <a class="navbar-item">
                Sobre nosotros
            </a>

            <a href="{% url 'users:logout' %}" class="navbar-item">
                <p>salir</p> <i class="las la-sign-out-alt"></i>
            </a>
        </div>
    </div>
</nav>