<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    {% block head_content %}{% endblock %}

  

</head>
<body>
    
    <div class="container align-vertical">
        {% block container %} {% endblock %}
    </div>
                
    
           

</body>
</html>
