{% extends "users/base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

{% include "navbar.html" %}

<div class="container">


    <section class="container">
        <div class="form-update">
            <form action="{% url 'users:update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="user-pic-grid">
                    <figure class="image is-96x96">
                        {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="is-rounded" />

                        {% else%}
                        <img src="{% static 'img/default-profile.png' %}" class="is-rounded" />
                        {% endif %}
                    </figure>
                    <p class="ml-3 mt-3 subtitle">@{{ user.username }}</p>

                </div>



                <!-- Error Handling -->

                {% for error in form.picture.errors %}
                <div class="notification is-danger is-light">
                    {{ error }}
                </div>
                {% endfor%}

                {% for error in form.website.errors %}
                <div class="notification is-danger is-light">
                    {{ error }}
                </div>
                {% endfor%}

                {% for error in form.adress.errors %}
                <div class="notification is-danger is-light">
                    {{ error }}
                </div>
                {% endfor%}

                {% for error in form.description.errors %}
                <div class="notification is-danger is-light">
                    {{ error }}
                </div>
                {% endfor%}

                {% for error in form.phone_number.errors %}
                <div class="notification is-danger is-light">
                    {{ error }}
                </div>
                {% endfor%}



                <div class="field">
                    <div class="control">
                        <label class="label">Imagen</label>
                        <input type="file" name="picture" id="picture">
                    </div>
                </div>




                <div class="field">
                    <div class="control">
                        <label class="label">Website</label>
                        <input class="input {% if form.website.errors %}is-danger{% endif %}" type="text" name="website"
                            id="website" value="{{ profile.website }}">
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <label class="label">Dirección</label>
                        <input class="input {% if form.adress.errors %}is-danger{% endif %}" type="text" name="adress"
                            id="adress" value="{{ profile.adress }}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="label">Descripción</label>
                        <textarea name="description" id="description" maxlength="150"
                            class="textarea {% if form.description.errors %}is-danger{% endif %}">{{ profile.description }}</textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="label">Teléfono</label>
                        <input class="input {% if form.phone_number.errors %}is-danger{% endif %}" type="text"
                            name="phone_number" id="phone_number" value="{{ profile.phone_number }}">
                    </div>
                </div>


                <button type="submit" class="button is-primary">Actualizar info</button>
            </form>
        </div>
    </section>

</div>

{% endblock %}