{% extends "users/base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'users:update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <figure class="image is-96x96">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="is-rounded" />
                      
                    {% else%}
                        <img src="{% static 'img/default-profile.png' %}" class="is-rounded" />
                    {% endif %}
                </figure>

                <p class="subtitle">{{ profile.picture.url }}</p>
                
                <input type="file" name="picture" id="picture">


                <button type="submit" class="button is-primary">Update info</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}